.alto-contraste img {
    filter: invert(100%);
}

.alto-contraste .font-sistemas,
.alto-contraste .sidebar-card-title,
.alto-contraste .card-body *,
.alto-contraste .card-body .form-group label,
.alto-contraste .card-painel-fonte-data a, 
.alto-contraste .sidebar-card,
.alto-contraste .font-color-weight,
.alto-contraste .subtitulo-noticia-font,
.alto-contraste .font-color,
.alto-contraste a,
.alto-contraste .font-color-claro,
.alto-contraste .shortcut-bold
{
    color: #fff !important;
}

.alto-contraste .navbar,
.alto-contraste #sidebar,
.alto-contraste #sidebar .sidebar-header,
.alto-contraste input,
.alto-contraste select, 
.alto-contraste .sidebar-card .nav.nav-pills li a, 
.alto-contraste .bg-white
{
    background: #000000 !important;
}

html.alto-contraste,
.alto-contraste .card-body,
.alto-contraste .card-painel-nav, 
.alto-contraste .sidebar-card,
.alto-contraste .componente-destaques-body,
.alto-contraste .card-painel-fonte-data.rodape,
.alto-contraste .list-card,
.alto-contraste .card, 
.alto-contraste #acessibilidade, 
.alto-contraste .bg_menu_shortcut, 
.alto-contraste .mega-dropdown-menu
{
    background: #232323 !important;
}

.alto-contraste .card-header,
.alto-contraste .card-body ul.nav-pills li.nav-item a.active,
.alto-contraste #content,
.alto-contraste #submenu-header > ul > li:hover
{
    background: #383838 !important;
}

.alto-contraste .mega-dropdown-menu-principal::after {
    border-bottom: 17px solid #232323;
}

.alto-contraste ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #000;
}

.alto-contraste ::-webkit-scrollbar {
    width: 12px;
    background-color: #000;
}

.alto-contraste ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #fff;
}

.alto-contraste div::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}