/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url(https://db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book);*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "SourceSansPro-bold";
    src: url("../fonts/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: "SourceSansPro-SemiBold";
    src: url("../fonts/SourceSansPro-SemiBold.ttf");
}

body {
    font-family: 'SourceSansPro', sans-serif;
    background: #eee;
    font-size: 0.875rem;
    max-width: 1430px;
    margin: 0 auto;
}

html {
    overflow-x: hidden;
}

i,
span {
    display: inline-block;
}

a {
    color: #3c689a;
}

fieldset.hidden legend {
    position: absolute;
    text-indent: -4000em;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 2.5rem 0;
}

.scrollable-menu {
    height: auto;
    max-height: 12.5rem;
    overflow-x: hidden;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
    width: 100%;
    height: 4rem;
    color: #ffffff;
    background-image: linear-gradient(to right, #2f5480, #2ba5c2);
    padding: 0rem 1rem;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-menu {
    font-size: 2rem;
    color: #ffffff;
}

.navbar-menu .fa-bars, .btn * {
    cursor: pointer !important;
}

.navbar-title-bold {
    font-size: 1.7rem !important;
    font-weight: bolder;
}

.navbar-title {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.85);
}

.navbar-title-cinza {
    font-size: 1.1rem;
    opacity: 0.5;
}

.line-divider {
    width: 1px;
    height: 2.5rem;
    opacity: 0.5;
    border: solid 1.8px #979797;
}

.navbar-dropdown-icon {
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    border: solid 1px #345c8f;
    background-image: linear-gradient(to bottom, #20426c, #153462);
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

#menu {
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity */
    position: absolute;
    overflow-y: auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    min-height: 132.5rem;
    padding-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.menu-selector {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0.8rem;
    top: -1.25rem;
    z-index: 999999999999999;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-bottom: 0.625rem solid #000000;
    border-top: 0.625rem solid transparent;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    opacity: 1;
}

#sidebar {
    min-width: 21rem;
    max-width: 21rem;
    background: #224066;
    color: #3c689a;
    transition: all 0.3s;
    padding: 0 8px;
}

#sidebar.active {
    min-width: 6rem;
    max-width: 6rem;
    text-align: center;
}

#sidebar.active .sidebar-header p,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active ul li a {
    padding: 0.625rem 0.625rem;
    text-align: center;
    font-size: 0.85em;
    display: block;
}

#sidebar.active ul li .sidebar-card {
    padding: 0.3125rem 0.625rem;
    font-size: 1.1em;
    display: none;
}

#sidebar.active ul .sidebar-card {
    padding: 0.3125rem 0.625rem;
    font-size: 1.1em;
    display: none;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 0.3125rem;
}

#sidebar.active ul ul a {
    padding: 0.625rem !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 0.625rem;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    background: #224066;
    ;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 0.8rem;
}

#sidebar ul.components {
    padding: 0px 0;
    list-style-type: none;
}

#sidebar > ul > li > a {
    padding: 0.625rem;
    font-size: 1.1em;
    display: none;
}

#sidebar > ul > li > a:hover {
    color: #224066;
    background: #fff;
    border-radius: 3rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

#sidebar > ul > li > a > i {
    margin-right: 0.625rem;
}

#sidebar .card-body ul li a {
    padding: 0.625rem;
    font-size: 1.1em;
}

#sidebar ul li .sidebar-card {
    font-size: 1.1em;
    display: block;
}

#sidebar ul .sidebar-card {
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 1.875rem !important;
}

ul.CTAs {
    padding: 1.875rem;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 0.3125rem;
    margin-bottom: 0.3125rem;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    SIDEBAR CARD STYLE
----------------------------------------------------- */

.sidebar-card {
    width: 20rem;
    border-radius: 0.3125rem;
    background-color: #ffffff;
}

.sidebar-card-title {
    font-family: 'SourceSansPro-SemiBold';
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3c689a;
}

.sidebar-card-title-icon {
    width: 1.6875rem;
    height: 1.6875rem;
}

.sidebar-card-footer-text {
    font-family: 'SourceSansPro';
    font-size: 0, 8125;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #3c689a;
}

.sidebar-card-footer-text .text-link {
    font-weight: bold;
}

.sidebar-card .nav.nav-pills li a {
    background-color: #e1e0e1;
    color: #969696;
    font-size: 0.75rem;
    padding: 0.5rem;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0.5rem;
    padding-top: 5.8rem;
    margin-top: -4rem;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 5rem;
        max-width: 5rem;
        text-align: center;
        margin-left: -5rem !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 0.625rem;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 1.25rem 0.625rem;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 0.625rem !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Títulos e Subtítulos
----------------------------------------------------- */
.painel {
    font-size: 1rem;
    font-family: "SourceSansPro";
    font-size: 0.875rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dfefff;
}

.font-painel {
    font-size: 1rem;
    font-family: "SourceSansPro";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dfefff;
}

.font-sistemas {
    font-family: "SourceSansPro";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #609bd5;
}

/* ---------------------------------------------------
    Background e Cores
----------------------------------------------------- */
.bg-transparent {
    background-color: transparent;
    border: transparent;
}

.bg-sidebar {
    background-color: #224066;
}

.color-sidebar-btn {
    color: #788CA7;
    border-color: transparent;
    background-color: transparent;
}

.color-sidebar-btn:hover {
    color: #fff;
}

.bg-navbar {
    background-image: linear-gradient(to right, #2f5480, #2ba5c2);
}

.bg_menu_shortcut {
    background-color: #d1e3f7;
}

.font-color {
    color: #3c689a;
    font-family: "SourceSansPro";
}

.font-color-claro {
    color: #4a90e2;
    font-family: "SourceSansPro";
}

.font-color-weight {
    color: #3c689a;
    font-family: "SourceSansPro";
    font-weight: 600;
}

.font-bold {
    color: #3c689a;
    font-family: "SourceSansPro-bold";
}

.font-primaryBlue {
    color: #134885;
    font-family: "SourceSansPro";
}

.font-primaryBlue-bold {
    color: #134885;
    font-family: "SourceSansPro-bold";
}

.font-semibold {
    color: #3c689a;
    font-family: "SourceSansPro-SemiBold";
}

.font-semibold-h2 {
    color: #3c689a;
    font-family: "SourceSansPro-SemiBold";
    font-size: 1.875rem;
}

.font-color-grey {
    font-family: "SourceSansPro";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.font-color-grey-bold{
    font-family: "SourceSansPro-bold";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.font-weight-light {
    font-weight: 500;
}

/* ---------------------------------------------------
    Header-menu
----------------------------------------------------- */
/* ---------------------------------------------------
    Megamenu
----------------------------------------------------- */

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    margin: 0 0.5%;
    width: 99%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 5px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu-principal::after {
    content: "";
    border-bottom: 17px solid #fff;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -10px;
    left: 3px;
    z-index: 8;
}

.mega-dropdown-menu-regiao::after {
    content: "";
    border-bottom: 17px solid #fff;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -10px;
    left: 380px;
    z-index: 8;
}

.dark-screen {
    display: none;
}

.dark-screen.open {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    ;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.lastMenu {
    min-height: 20rem;
}

/* ---------------------------------------------------
    Megamenu
----------------------------------------------------- */


.submenu-card {
    position: relative;
}

.submenu-header,
.submenu-header ul,
.submenu-header ul li,
.submenu-header ul ul,
.submenu-header ul ul li,
.submenu-header ul ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.submenu-header ul {
    position: relative;
    z-index: 597;
    float: left;
}

.submenu-header ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
}

.submenu-header ul li.hover,
.submenu-header ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

.submenu-header ul ul {
    visibility: show;
    position: absolute;
    Top: -6.1rem;
    left: 100%;
    margin-left: 0.2rem;
    z-index: 598;
    max-height: 36.4375rem;
    vertical-align: top;
}

.submenu-header ul ul ul {
    visibility: show;
    position: relative;
    Top: -6.1rem;
    left: 100%;
    margin-left: 0.2rem;
    z-index: 598;
    max-height: 36.4375rem;
    vertical-align: top;
}

.submenu-header ul ul ul ul {
    visibility: show;
    position: absolute;
    Top: -6.1rem;
    left: 100%;
    margin-left: 0.2rem;
    z-index: 598;
    max-height: 36.4375rem;
    vertical-align: top;
}

.submenu-header ul ul li {
    float: none;
    vertical-align: top;
}

.submenu-header ul ul ul {
    top: 1px;
    left: 99%;
}

.submenu-header ul ul ul li {
    float: none;
    vertical-align: top;
}

.submenu-header ul li:hover > ul {
    visibility: visible;
    vertical-align: top;
}

.submenu-header ul li {
    float: none;
}

.submenu-header ul ul li {
    font-weight: normal;
    vertical-align: top;
}

.submenu-header ul ul ul li {
    font-weight: normal;
    vertical-align: top;
}

/* Custom CSS Styles */
.submenu-header {
    font-family: 'SourceSansPro';
    font-size: 0.75em;
    width: 12.5rem;
    -webkit-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
}

.submenu-header:first-child {
    box-shadow: none;
}

.submenu-header ul a,
.submenu-header ul a:link,
.submenu-header ul a:visited {
    display: block;
    color: #656565;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.95rem !important;
    line-height: normal;
}

.submenu-header > ul {
    float: none;
}

.submenu-header ul {}

.submenu-header > ul > li {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 !important;
}

.submenu-header > ul > li:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.submenu-header > ul > li:nth-child(2) {
    border-top: 0;
}

.submenu-header > ul > li > a {
    padding: 6px 20px !important;
}

.submenu-active {
    border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
    font-weight: bold !important;
    -webkit-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3) !important;
    background: #fef6e9 !important;
}
.submenu-active a {
    color: #3c689a !important;
    font-weight: bold !important;
}
.submenu-header > ul > li:hover {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold;
    -webkit-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
}
.submenu-header:first-child > ul > li:hover {
    box-shadow: none;
}

.submenu-header ul li:hover > a {
    color: #3c689a;
    font-weight: bold;
}

.submenu-header > ul > li:hover {
    background: #fef6e9 !important;
}

#megaMenuRegiao .submenu-header > ul > li:hover {
    background: #ECF3FC !important;
}

/* Sub Menu */
.submenu-header ul ul a:link,
.submenu-header ul ul a:visited {
    font-weight: normal;
    font-size: 0.2em;
}

.submenu-header ul ul {
    width: 11.25rem;
    background: none;
    border-left: 0px solid;
}

.submenu-header ul ul a {
    padding: 0.625rem 1.25rem;
    background: transparent;
    border-bottom: 1px solid #efefef;
}

.submenu-header ul ul li {
    background: #fff;
}

.submenu-header > ul > ul > li:hover {
    border-bottom: 1px solid #fef6e9;
    background: #fef6e9;
}

.submenu-header ul ul li:hover > a {
    background: #fef6e9;
}

.submenu-header ul ul li:last-child {
    border-bottom: 1px solid #d7d8da;
    padding-bottom: 10px;
}

.submenu-header ul ul li:first-child {
    padding-top: 1px;
}

.submenu-header ul ul li:last-child > a {
    border-bottom: none;
}


/* ---------------------------------------------------
   Menu Shortcut
----------------------------------------------------- */
.shortcut {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #476485;
}

.shortcut-bold {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #476485;
}

.shortcut-border {
    border-right: 1px solid #b9d4f2;
}

.no-border-bottom {
    border-bottom: 0;
}

.card-body.bg_menu_shortcut {
    max-height: 23rem;
}

.scroll {
    overflow-y: scroll;
}

/* ---------------------------------------------------
   Card Conecta
----------------------------------------------------- */
.card-header {
    padding: 0.3rem 0.3rem 0.3rem 1.0rem;
}

.card-header-page {
    background-color: transparent;
    padding-left: 0;
}

.card-body {
    padding: 1.25rem 0.2rem 0.2rem 0.2rem;
}

.card-conecta-nome {
    font-family: 'SourceSansPro-bold';
    font-size: 1rem;
    font-weight: normal;
    font-style: bold;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3c689a;
}

.card-conecta {
    font-family: 'SourceSansPro';
    font-size: 0.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3c689a;
}

.card-conecta-img {
    width: 4.43rem;
    height: 4.43rem;
    background-image: url(../images/user-icon.png);
    background-repeat: no-repeat;
    float: left;
}

.card-body ul.nav-pills li.nav-item a {
    padding: 0.5rem 0.5rem 0 1rem !important;
    font-size: 0.8em !important;
    border-radius: 15px 15px 0 0;
}

.card-body ul.nav-pills li.nav-item a.active {
    background-color: #fff;
}

.card-body div.tab-content div.tab-pane ul li {
    list-style-type: none;
    display: list-item;
}

.card-body .form-group label {
    color: #606060;
    font-weight: bold;
}


/* ---------------------------------------------------
   Card PAINEL
----------------------------------------------------- */

.card-painel-fonte-data {
    font-family: 'SourceSansPro';
    font-size: 0.95rem !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.card-painel-fonte-data .fonte-texto {
    font-family: 'SourceSansPro-SemiBold';
    font-weight: normal;
    border-bottom: 1px solid #979797;
}

.card-painel-fonte-data label {
    color: #969696;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

.card-painel-fonte-data a {
    display: block !important;
    color: #3c689a;
    background: transparent;
    font-size: 0.8rem;
    padding: 0 0 0.8rem 0 !important;
}

.card-painel-fonte-data a.snp {
    border-left: solid 5px #fff;
    padding-left: 1em !important;
}

.card-painel-fonte-data a.snp.sinal01 {
    border-left-color: #dc3545;
}

.card-painel-fonte-data a.snp.sinal02 {
    border-left-color: #f5a623;
}

.card-painel-fonte-data a.snp.sinal03 {
    border-left-color: #7ed321;
}

.card-painel-fonte-data.rodape {
    font-size: 0.75rem !important;
    padding-top: 0.55rem;
}

.card-painel-fonte-data span {
    font-family: SourceSansPro;
    display: contents;
}


.card-painel-nav {
    border-radius: 0.3125rem;
    background-color: #e1e0e1;
}

/*
.card-painel-nav-btn-selected {
    width: 8.25rem;
    height: 2rem;
    border-radius: 0.1875;
    opacity: 1; 
    font-size:0.7rem;
    background-color: #ffffff;
    color: #4a4a4a;
    font-weight: bold;
    text-align: start;
}
*/
.painel-nav-btn-selected:hover {
    text-decoration: none;
}

/* ---------------------------------------------------
   Card Único
----------------------------------------------------- */
.card-unico-font {
    font-family: SourceSansPro;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3c689a;
}

.card-unico-badge {
    position: relative;
    right: 0.1rem;
    bottom: 0.05rem;
}

.unico a {
    float: left;
    margin-right: 0.3rem;
}

.unico span.card-unico-badge {
    position: static;
    float: left;
    margin-left: -1.7rem;
    margin-top: -0.3rem;
}

/* ---------------------------------------------------
   Card PIN
----------------------------------------------------- */
.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.card-pin-search-btn {
    position: relative;
    right: 2.5rem;
}

.card-pin-search-icon {
    border: none;
    background-color: transparent;
    opacity: 0.7;
}

/* ---------------------------------------------------
   Card GRIFO
----------------------------------------------------- */
.card-grifo-caixa-relogio {
    width: 6.1875rem;
    height: 6.4375rem;
    border-radius: 5px;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #b2dfff4d, #4a90e24d);
}

.card-grifo-relogio {
    color: #224066;
    font-size: 2.25rem;
    opacity: 0.4 !important;
    z-index: 999;
    margin-top: 0.5rem;
}

.grifo-font-acesso {
    font-family: "SourceSansPro";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #134885;
}

.card-grifo-fonte-hora {
    font-family: "SourceSansPro";
    font-size: 23px;
    font-weight: bold;
    color: #134885;
}

.card-grifo-ponto-icon {
    font-size: 1.4rem;
    opacity: 0.5;
    color: #1d1d1b;
}

.card-grifo-divider {
    width: 1px;
    border-right: solid 1px #979797;
}

.card-grifo-registros {
    font-size: 0.9rem;
}


/* ---------------------------------------------------
   Card Sistemas Nacionais
----------------------------------------------------- */
.card-nacionais-bg {
    background-color: #d0e6ff;
}

/* ---------------------------------------------------
   Navegador conteudo
----------------------------------------------------- */
.navegador-conteudo {
    height: 35px;
    left: 50%;
    transform: translateX(165%);
    margin-top: -20px;
    position: fixed;
    height: 20px;
}

.navegador-conteudo ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    float: right;

    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.navegador-conteudo ul li {
    float: left;
    text-decoration: line-through;
}

.navegador-conteudo ul li a {
    border-radius: 3px;
    margin: 0.2rem;
    font-size: 0.7rem
}

.navegador-conteudo ul li a.conteudo-1 {
    background-color: #425f81;
}

.navegador-conteudo ul li a.conteudo-2 {
    background-color: #7ed321;
}

.navegador-conteudo ul li a.conteudo-3 {
    background-color: #50e3c2;
}

.navegador-conteudo ul li a.conteudo-4 {
    background-color: #f5a623;
}

.navegador-conteudo ul li a.conteudo-5 {
    background-color: #c52f41;
}

.navegador-conteudo ul li a.conteudo-6 {
    background-color: #4084d1;
}

.navegador-conteudo ul li a:after {
    content: '- - - - - - -';
    visibility: hidden;
}

a.ancora-conteudo:target:before {
    content: "-";
    height: 50px;
    min-height: 50px;
    visibility: hidden;
    display: block;

    transition-delay: 1s, 250ms;
    transition-property: height, display;

    -webkit-transition: all 10.5s ease;
    -moz-transition: all 10.5s ease;
    -o-transition: all 10.5s ease;
    transition: all 10.5s ease;
}

.navegador-interno-pagepath {
    height: 35px;
    margin-top: -1.5rem;
}

.navegador-interno-pagepath ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    float: left;
}

.navegador-interno-pagepath ul li {
    float: left;
}

.navegador-interno-pagepath ul li a {
    border-radius: 3px;
    margin: 0.2rem;
    font-size: 0.7rem
}



/* ---------------------------------------------------
   Destaques Principais componente
----------------------------------------------------- */
.componente-destaques-body {
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    background-color: #ffffff;
}

div.componente-destaques-body:last-child {
    margin-bottom: 20rem;
}

.carousel-background {
    background: transparent;

}

.carousel-icon {
    z-index: 0 !important;
    color: #134885;
    background-color: transparent;
    border-radius: 5px;
}

.carousel-indicators {
    position: inherit;
    top: 0.1rem;
    z-index: 0 !important;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #134885;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #4a90e2;
}

.carousel-control-prev {
    text-align: left;
    justify-content: left;
}

.carousel-control-next {
    text-align: right;
    justify-content: right;
}

.headline-font {
    color: #9b9b9b;
    font-size: 0.875rem;
    margin-bottom: 0px;
}

.titulo-noticia-font {
    color: #3c689a;
    font-weight: bold;
    line-height: 1.9rem;
}

.subtitulo-noticia-font {
    color: #6b6b6b;
}

.play-icon {
    font-size: 1.3rem;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.destaques-principais {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #425f81;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.divisor-componente {
    opacity: 0.3;
    border-bottom: solid 1px #979797 !important;
}

/* ---------------------------------------------------
   Minha Unidade componente
----------------------------------------------------- */
.divisor-unidade {
    height: 0.1rem;
    opacity: 0.7;
    border-bottom: solid 1px #979797;
}

.minha-unidade {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #7ed321;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.list-card {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.list-card-icon {
    font-size: 1.6rem;
    opacity: 0.3;
}

.list-card-divisor {
    border-bottom: solid 1px #979797 !important;
}

.list-card-divisor-dashed {
    border-bottom: dashed 1px #979797 !important;
}

.list-card-divisor-dashed-right {
    border-right: dashed 1px #979797 !important;
}

.list-card-divisor-dashed-right:last-child {
    border-right: none;
}

.lista-row {
    flex-wrap: unset;
}

.novosCredeciados {}

.novosCredeciados span {
    color: #6b6b6b;
    line-height: 1.2 !important;
}

.albumFotos {}

.albumFotos ul li {
    list-style-type: none;
}

.albumFotos ul li a {
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
}

/* ---------------------------------------------------
   Portal Região componente
----------------------------------------------------- */
.portal-regiao {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #50e3c2;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

/* ---------------------------------------------------
   Área Administrativas componente
----------------------------------------------------- */
.area-administrativa {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #f5a623;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

/* ---------------------------------------------------
   Órgãos Superiores componente
----------------------------------------------------- */
.orgaos-superiores {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #c52f41;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

/* ---------------------------------------------------
   Portal MPF componente
----------------------------------------------------- */
.portal-mpf {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #4084d1;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.lista-links {}

.lista-links a {
    font-family: "SourceSansPro-SemiBold";
    font-size: 0.95rem !important;
    line-height: 1.2 !important;
    font-weight: 600;
}


label.labelHidden {
    display: none;
}

.img-list {
    /*width:auto;*/
}

.fixo {
    z-index: 199;
    margin-top: -55px;
    position: fixed;
    left: 50%;
    transform: translateX(165%);
    filter: alpha(opacity=60);
    opacity: 0.6;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    background: white;
    height: 20px;
    border-radius: 4px
}

.ancora-hidden:target:before {
    content: "" !important;
    display: none !important;
    height: 0 !important;
    min-height: 0 !important;

    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;

    transition-delay: 1s, 250ms;
    transition-property: display, height;
}


/* ---------------------------------------------------
   Search bar componente
----------------------------------------------------- */
.search {
    width: 6.25rem;
    height: 3.125rem;
    margin: 0 auto 0;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}

.search:before {
    content: '';
    display: block;
    width: 0px;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
}

.search.open {
    width: 16.25rem;
    background-color: #ffffff;
    border-radius: 2rem;
}

.search.open:before {
    margin: 0;
    position: absolute;
}

.search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: transparent;
    border: none;
    color: #000000;
    padding: 0;
    font-size: 1rem;
    font-family: "SourceSansPro";
    transition: all 0.5s ease;
}

.search-box:focus {
    outline: none;
    transition: all 0.5s ease;
}

.search-button {
    height: 6.25rem;
    display: block;
    position: absolute;
    padding-right: 1rem;
    right: 0px;
    bottom: -1.375rem;
    cursor: pointer;
}

.search-icon {
    font-size: 1.5rem;
    color: #ffffff;
    display: block;
    position: relative;
    transition: all 0.5s ease;
}

.search-icon.open {
    font-size: 1.875rem;
    color: #969696;
    display: block;
    position: relative;
    transition: all 0.5s ease;
}

/* ---------------------------------------------------
   Tela Notícias
----------------------------------------------------- */
.noticias-font-titulo {
    font-family: "SourceSansPro-bold";
    font-size: 2.375rem;
    color: #134885;
}

.noticias-tags {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #9b9b9b;
}

.noticias-icon-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(151, 151, 151, 0.2);
    background-color: #ffffff;
}

.noticias-ul {
    list-style-type: none !important;
}

/* ---------------------------------------------------
   Tela Gestão por competências
----------------------------------------------------- */
.list-group li:hover > a {
    color: #3c689a
}

.list-group > li:hover {
    background: #fef6e9 !important;
}

.list-group > li > a:hover {
    text-decoration: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #597EA9;
}

div::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
/* ---------------------------------------------------
    Tela Gestão de Pessoas
----------------------------------------------------- */
.card-pessoas-text{
    overflow: auto;
}